<a href="https://colab.research.google.com/github/Howl06/practice/blob/main/mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 1.5 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
import pymysql
import prettytable
# host_name = input("請輸入主機位置：")
# user_name = input("請輸入資料庫帳號：")
# passwd_name = input("請輸入資料庫密碼：")
# port_name = input("請輸入資料庫Port：")
# db_name = input("請輸入資料庫名稱：")
db = pymysql.connect(host="0.tcp.jp.ngrok.io", port=18881 ,user="root", passwd="", db='2023-03-08', charset='utf8')

In [ ]:
def name_br_addr() -> tuple:
    name_m = input("請輸入會員姓名：") 
    birthday_m = input("請輸入會員生日：") 
    address_m = input("請輸入會員地址：")
    return [name_m, birthday_m, address_m]

In [ ]:
def add_member() -> None:
    member_data = name_br_addr()
    cursor = db.cursor()
    sql = """
        INSERT INTO `member` (`name`,`birthday`,`address`)
        VALUES (%s,%s,%s)
        """
    cursor.execute(sql, tuple(member_data))
    db.commit()

In [ ]:
def delete_member() -> None:
    id_m = int(input("請選擇你要刪除的資料編號："))
    cursor = db.cursor()
    sql = """
        DELETE FROM `member` WHERE 
        `id` = %s 
        """
    cursor.execute(sql, (id_m))
    db.commit()

In [ ]:
def show_all_member() -> None:
    cursor = db.cursor()
    sql = """
        SELECT * FROM `member` 
        """
    cursor.execute(sql)
    b_table = prettytable.PrettyTable(["編號", "姓名", "生日", "地址"], encoding="utf-8")
    b_table.add_rows(cursor.fetchall())
    print(b_table)

In [ ]:
def update_member() -> None:
    id_m = int(input("請選擇你要修改的資料編號："))
    member_data = name_br_addr()
    member_data.append(id_m)
    cursor = db.cursor()
    sql = """
        UPDATE `member` SET 
        `name` = %s ,
        `birthday` = %s ,
        `address` = %s
        WHERE
        `id` = %s
        """
    cursor.execute(sql, tuple(member_data))
    db.commit()

In [ ]:
import pymysql
import prettytable

host_name = input("請輸入主機位置：")
user_name = input("請輸入資料庫帳號：")
passwd_name = input("請輸入資料庫密碼：")
port_name = int(input("請輸入資料庫Port："))
db_name = input("請輸入資料庫名稱：")
# db = pymysql.connect(host="0.tcp.jp.ngrok.io", port=18881 ,user="root", passwd="", db='2023-03-08', charset='utf8')
while True:
    db = pymysql.connect(host=host_name, port=port_name ,user=user_name, passwd="", db=db_name, charset='utf8')
    print("(0) 離開程式")
    print("(1) 顯示會員列表")
    print("(2) 新增會員列表")
    print("(3) 更新會員列表")
    print("(4) 刪除會員列表")
    order = input("指令:")
    if order == "0":
        print("掰掰")
        db.close()
        break
    elif order == "1":
        show_all_member()
    elif order == "2":
        add_member()
    elif order == "3":
        show_all_member()
        update_member()
    elif order == "4":
        show_all_member()
        delete_member()

In [ ]:
import pymysql
import prettytable


def name_br_addr() -> tuple:
    name_m = input("請輸入會員姓名：")
    birthday_m = input("請輸入會員生日：")
    address_m = input("請輸入會員地址：")
    return [name_m, birthday_m, address_m]


def show_all_member() -> None:
    cursor = db.cursor()
    sql = """
        SELECT * FROM `member` 
        """
    cursor.execute(sql)
    b_table = prettytable.PrettyTable(["編號", "姓名", "生日", "地址"],
                                      encoding="utf-8")
    b_table.add_rows(cursor.fetchall())
    print(b_table)


def add_member() -> None:
    member_data = name_br_addr()
    cursor = db.cursor()
    sql = """
        INSERT INTO `member` (`name`,`birthday`,`address`)
        VALUES (%s,%s,%s)
        """
    cursor.execute(sql, tuple(member_data))
    db.commit()


def update_member() -> None:
    id_m = int(input("請選擇你要修改的資料編號："))
    member_data = name_br_addr()
    member_data.append(id_m)
    cursor = db.cursor()
    sql = """
        UPDATE `member` SET 
        `name` = %s ,
        `birthday` = %s ,
        `address` = %s
        WHERE
        `id` = %s
        """
    cursor.execute(sql, tuple(member_data))
    db.commit()


def delete_member() -> None:
    id_m = int(input("請選擇你要刪除的資料編號："))
    cursor = db.cursor()
    sql = """
        DELETE FROM `member` WHERE 
        `id` = %s 
        """
    cursor.execute(sql, (id_m))
    db.commit()


host_name = input("請輸入主機位置：")
user_name = input("請輸入資料庫帳號：")
passwd_name = input("請輸入資料庫密碼：")
port_name = int(input("請輸入資料庫Port："))
db_name = input("請輸入資料庫名稱：")

while True:
    db = pymysql.connect(host=host_name,
                         port=port_name,
                         user=user_name,
                         passwd="",
                         db=db_name,
                         charset='utf8')
    print("(0) 離開程式")
    print("(1) 顯示會員列表")
    print("(2) 新增會員列表")
    print("(3) 更新會員列表")
    print("(4) 刪除會員列表")
    order = input("指令:")
    if order == "0":
        print("掰掰")
        db.close()
        break
    elif order == "1":
        show_all_member()
    elif order == "2":
        add_member()
    elif order == "3":
        show_all_member()
        update_member()
    elif order == "4":
        show_all_member()
        delete_member()

請輸入主機位置：0.tcp.jp.ngrok.io
請輸入資料庫帳號：root
請輸入資料庫密碼：
請輸入資料庫Port：18881
請輸入資料庫名稱：2023-03-08
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員列表
(3) 更新會員列表
(4) 刪除會員列表
指令:1
+------+--------+------------+--------------+
| 編號 |  姓名  |    生日    |     地址     |
+------+--------+------------+--------------+
|  1   | 陳文在 | 1993-11-01 | 台北市中山區 |
|  2   | 蕭宇殷 | 1990-05-22 | 新北市板橋區 |
|  4   | 林致世 | 1992-10-10 | 新竹縣竹東鎮 |
|  5   | 呂來來 | 1997-03-01 | 新北市萬里區 |
|  10  | 蔡杉智 | 1993-07-05 | 台北市大安區 |
|  11  | 姚文武 | 1995-07-11 | 台北市北投區 |
|  30  |  233   | 0000-00-00 |      3       |
+------+--------+------------+--------------+
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員列表
(3) 更新會員列表
(4) 刪除會員列表
指令:2
請輸入會員姓名：56
請輸入會員生日：56
請輸入會員地址：56
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員列表
(3) 更新會員列表
(4) 刪除會員列表
指令:1
+------+--------+------------+--------------+
| 編號 |  姓名  |    生日    |     地址     |
+------+--------+------------+--------------+
|  1   | 陳文在 | 1993-11-01 | 台北市中山區 |
|  2   | 蕭宇殷 | 1990-05-22 | 新北市板橋區 |
|  4   | 林致世 | 1992-10-10 | 新竹縣竹東鎮 |
|  5   | 呂來來 | 1997-03-01 | 新北市萬里區 |
|  10  | 蔡杉智 | 1993-07-05 | 台北市大安區 |
|  11  | 姚文武 | 1995-07-11 | 台北市北投區 |
|  30  |  233   | 0000-00-00 |      3       |
|  31  |   56   | 0000-00-00 |      56      |
+------+--------+------------+--------------+
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員列表
(3) 更新會員列表
(4) 刪除會員列表
指令:3
+------+--------+------------+--------------+
| 編號 |  姓名  |    生日    |     地址     |
+------+--------+------------+--------------+
|  1   | 陳文在 | 1993-11-01 | 台北市中山區 |
|  2   | 蕭宇殷 | 1990-05-22 | 新北市板橋區 |
|  4   | 林致世 | 1992-10-10 | 新竹縣竹東鎮 |
|  5   | 呂來來 | 1997-03-01 | 新北市萬里區 |
|  10  | 蔡杉智 | 1993-07-05 | 台北市大安區 |
|  11  | 姚文武 | 1995-07-11 | 台北市北投區 |
|  30  |  233   | 0000-00-00 |      3       |
|  31  |   56   | 0000-00-00 |      56      |
+------+--------+------------+--------------+
請選擇你要修改的資料編號：31
請輸入會員姓名：566
請輸入會員生日：5566
請輸入會員地址：5566
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員列表
(3) 更新會員列表
(4) 刪除會員列表
指令:1
+------+--------+------------+--------------+
| 編號 |  姓名  |    生日    |     地址     |
+------+--------+------------+--------------+
|  1   | 陳文在 | 1993-11-01 | 台北市中山區 |
|  2   | 蕭宇殷 | 1990-05-22 | 新北市板橋區 |
|  4   | 林致世 | 1992-10-10 | 新竹縣竹東鎮 |
|  5   | 呂來來 | 1997-03-01 | 新北市萬里區 |
|  10  | 蔡杉智 | 1993-07-05 | 台北市大安區 |
|  11  | 姚文武 | 1995-07-11 | 台北市北投區 |
|  30  |  233   | 0000-00-00 |      3       |
|  31  |  566   | 0000-00-00 |     5566     |
+------+--------+------------+--------------+
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員列表
(3) 更新會員列表
(4) 刪除會員列表
指令:4
+------+--------+------------+--------------+
| 編號 |  姓名  |    生日    |     地址     |
+------+--------+------------+--------------+
|  1   | 陳文在 | 1993-11-01 | 台北市中山區 |
|  2   | 蕭宇殷 | 1990-05-22 | 新北市板橋區 |
|  4   | 林致世 | 1992-10-10 | 新竹縣竹東鎮 |
|  5   | 呂來來 | 1997-03-01 | 新北市萬里區 |
|  10  | 蔡杉智 | 1993-07-05 | 台北市大安區 |
|  11  | 姚文武 | 1995-07-11 | 台北市北投區 |
|  30  |  233   | 0000-00-00 |      3       |
|  31  |  566   | 0000-00-00 |     5566     |
+------+--------+------------+--------------+
請選擇你要刪除的資料編號：31
(0) 離開程式
(1) 顯示會員列表
(2) 新增會員列表
(3) 更新會員列表
(4) 刪除會員列表
指令:0
掰掰